@model BulletinBoard.Models.User
@{
    ViewData["Title"] = "Login";
}

<div class="row vertical-center">
    <div class="col-sm-12 align-self-center">
        <div class="w-25 mx-auto">
            <form asp-controller="Login" asp-action="Index">
                <h2>Login</h2>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    @if ((string)ViewData["NameStatus"]! != "") {
                        <span class="text-danger">@ViewData["NameStatus"]</span>
                    }
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    @if ((string)ViewData["PasswordStatus"]! != "") {
                        <span class="text-danger">@ViewData["PasswordStatus"]</span>
                    }
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Enter" class="btn btn-primary" />
                </div>
            </form>
            <br />
            <form method="get">
                <button asp-controller="Register" asp-action="Index" class="btn btn-warning">Register</button>
            </form>
        </div>
    </div>
</div>