@model BulletinBoard.Models.User
@{
    ViewData["Title"] = "Register";
}

<div class="row vertical-center">
    <div class="col-sm-12 align-self-center">
        <div class="w-25 mx-auto">
            <form asp-controller="Register" asp-action="Index" method="post">
                <h2>Register</h2>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    @if (ViewData["Name"] != null) {
                        <span class="text-danger">@ViewData["Name"]</span>
                    }
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    @if (ViewData["Password"] != null) {
                        <span class="text-danger">@ViewData["Password"]</span>
                    }
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="DisplayName" class="control-label"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                    @if (ViewData["DisplayName"] != null) {
                        <span class="text-danger">@ViewData["DisplayName"]</span>
                    }
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>